/* <!-- header dang --> */
.container
{    position: relative;
     height: auto;
}
.container .navbar
{
     width: 100%;
     height: 70px;
     background: blue;
     z-index: 1;
}
.container .navbar .Mybrand
{
     font-size: 35px;
     font-family: arial;
}
.container .navbar  .logo  .img-fluid
{
     width: 70px;
     margin-left: 5px;
     margin-right: 20px; 

}
.container .navbar a
{
     font-weight: bold;
     font-family: arial;
     color: #ffff;
     font-size: 20px;
}
.container .carousel
{
     width: 100%;
     height: 400px;
     background:blue;

}
.container .carousel .img-fluid
{
     width: 100%;
     height: 100%;
}
.container .carousel .noidung
{
     position: absolute;
     height: 100%;
}
.container .carousel .noidung .h5
{
     margin-top: 130px;
     color: white;
}
    /* <!-- about hieu --> */
     /* <!-- aside thanh --> */
     /* <!-- contact us hoan --> */
     /* <!-- footer hoan --> */
     @media screen and (max-width:576px){
         
     }
     @media screen and (max-width:768px){

     }
     @media screen and (max-width:992px){

     }