/* <!-- header dang --> */
    /* <!-- about hieu --> */
     /* <!-- aside thanh --> */
     .aside{
         margin-bottom: 50px;
     }
     .aside .row .col h4{
     width: 60%;
     background: #3079DD;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     margin-left: 80px;
}
.aside .row .col .standard .standard-body p{
     font-size: 25px;
}
.aside .row .col .standard a.btn{
     border-radius: 20px;
     margin-bottom: 20px;
}
     /* <!-- contact us hoan --> */
     /* <!-- footer hoan --> */
     
.footer .row .fa-mail-forward{
     transform: rotate(150deg);
}
.footer .row .fa-mail-reply{
     transform: rotate(100deg);
}
.footer .row ul{
     list-style-type: none;
}

     @media screen and (max-width:576px){
         
     }
     @media screen and (max-width:768px){

     }
     @media screen and (max-width:992px){

     }